.carousel.carousel-index,
.carousel.carousel-index .carousel-inner,
.carousel.carousel-index .carousel-inner .active,
.carousel.carousel-index .carousel-inner .carousel-item,
.view.view-index,
body,
html {
  height: 100%;
}

.footer-logo {
  width: 100px;
  float: left;
  margin-right: 15px;
}