.carousel.carousel-index,
.carousel.carousel-index .carousel-inner,
.carousel.carousel-index .carousel-inner .active,
.carousel.carousel-index .carousel-inner .carousel-item,
.view.view-index,
body,
html {
  height: 100%;
}

.footer-logo {
  width: 100px;
  float: left;
  margin-right: 15px;
}

.bg-register {
  background-color: #fff;
  background-image: url('../images/header_register.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 45vmin;
  min-height: 85vmin;
}

.img-logo-about {
  width: 10vmin;
  margin-bottom: 1rem;
}

.bg-project-donate-detail {
  background-color: #ffffff;
  background-image: url('../images/header_detail.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 10vmin;
  min-height: 85vmin;
  padding-bottom: 5vmin;
}

.md-form label {
  -webkit-transform: translateY(-140%) !important;
  -ms-transform: translateY(-140%) !important;
  transform: translateY(-140%) !important;
  font-size: 0.8rem !important;
}

.text-2line {
  font-size: 1.25rem;
  line-height: 1.75rem;
  height: 3.5rem;
  overflow: hidden;
}

.text-3line {
  font-size: 0.9rem;
  line-height: 1.4rem;
  height: 4.2rem;
  overflow: hidden;
}