.carousel.carousel-index,
.carousel.carousel-index .carousel-inner,
.carousel.carousel-index .carousel-inner .active,
.carousel.carousel-index .carousel-inner .carousel-item,
.view.view-index,
body,
html {
  height: 100%;
}
.text-welcome-1 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
.text-welcome-2 {
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: 500;
}
.page-thank {
  height: 100vh;
  background-color: transparent;
  background-image: url("../images/banner_index3.png");
  background-size: cover;
  background-position: center center;
}
.box-thank {
  width: 90%;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(199, 199, 199, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(199, 199, 199, 0.5);
}
.box-thank-body {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.box-thank-contain-icon {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.box-thank-icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box-thank-icon-contain-ani {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-thank-icon-ani {
  z-index: 2;
  width: 125px;
  height: 125px;
  background-color: #e2f1e8;
  border-radius: 50%;
  animation-name: anitrue;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: anitrue;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes anitrue {
  0% {
    width: 120px;
    height: 120px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}

/* Standard syntax */
@keyframes anitrue {
  0% {
    width: 120px;
    height: 120px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
.box-thank-icon-anifalse {
  z-index: 2;
  width: 125px;
  height: 125px;
  background-color: #f1e5e5;
  border-radius: 50%;
  animation-name: anifalse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: anifalse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes anifalse {
  0% {
    width: 120px;
    height: 120px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}

/* Standard syntax */
@keyframes anifalse {
  0% {
    width: 120px;
    height: 120px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}
.img-icon-thank {
  width: 100%;
  max-width: 120px;
  z-index: 3;
}
.btn-thank {
  position: absolute;
  left: 0;
  right: 0;
  top: 105%;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0.5rem;
}
.btn-thank-true {
  background-color: #28c86c;
}
.btn-thank-false {
  background-color: #f7274e;
}
.text-money-donate {
  max-width: 100%;
  display: flex;
  font-size: 47px;
  justify-content: center;
  align-items: center;
}

.text-welcome-3 {
  font-size: 41px;
  margin-bottom: 0;
  font-weight: 600;
  color: #ffffff;
  width: 45px;
  height: 65px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;*/
  background-color: transparent;
  background-image: url("../images/bg-money-donate.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.text-welcome-3:first-of-type {
  margin-left: 0;
}
.text-welcome-3:last-of-type {
  margin-right: 0;
  position: relative;
}
.text-welcome-3:last-of-type::before {
  content: "บาท";
  position: absolute;
  right: 0px;
  color: #000000;
  top: 100%;
  font-size: 22px;
  font-weight: 500;
}
.footer-logo {
  width: 100px;
  float: left;
  margin-right: 15px;
}
.logo-nav {
  height: 100px;
  transition: height 500ms ease-in-out;
}
.top-nav-collapse .logo-nav {
  height: 70px;
}
.bg-register {
  background-color: #fff;
  background-image: url("../images/banner_index3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 8vmin;
  min-height: 85vmin;
}
.bg-virsualrun {
  background-color: #fff;
  background-image: url("../images/banner_index3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 20vmin;
  min-height: 85vmin;
}
.rank-bg {
  /*background-image: url("../images/bg-top-rank.jpg");*/
  background-image: url("../images/banner_index3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 85vmin;
}
.rank-light {
  /*background-image: url("../images/rank-light.png");*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 20vmin;
}
.qr-preview {
  width: 100px;
  height: 100px;
}
.img-logo-about {
  width: 100%;
  max-width: 25vmin;
  margin-bottom: 1rem;
}
.table-preview-running thead tr th {
  text-align: center;
}
.table-preview-running tbody tr td {
  vertical-align: middle;
  text-align: center;
}
.bg-project-donate-detail {
  background-color: #ffffff;
  background-image: url("../images/header_detail.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 10vmin;
  min-height: 85vmin;
  padding-bottom: 5vmin;
}
.table-my-rank {
  border: 1px solid #c13800;
  background-color: #c13800;
}
.md-form label {
  -webkit-transform: translateY(-140%) !important;
  -ms-transform: translateY(-140%) !important;
  transform: translateY(-140%) !important;
  font-size: 0.8rem !important;
}
.theme-explorer-fas .explorer-caption {
  word-break: break-all;
}
.text-2line {
  font-size: 1.25rem;
  line-height: 1.75rem;
  height: 3.5rem;
  overflow: hidden;
}
.bottom {
  margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate {
  display: flex;
  justify-content: center;
  float: none;
}
.input-group-text.input-time-visual {
  background-color: #b43d3e;
  color: #ffffff;
  min-width: 100px;
  text-align: center;
}
.text-3line {
  font-size: 0.9rem;
  line-height: 1.4rem;
  height: 4.2rem;
  overflow: hidden;
}
.over-img-logo {
  width: auto;
  height: 80vh;
  position: absolute;
}
.over-img-logo .img-logo-banner {
  max-width: 100%;
  width: auto;
  height: 80vh;
}
.my-medal {
  width: 50px;
}
/*Credit*/
form.credit input[type="text"] {
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.25rem;
}
form.credit input[type="text"]:focus {
  border: 1px solid #b43d3e;
  outline: none;
}
form.credit input[type="submit"] {
  background: #b43d3e;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 1em 0 0 0;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
}
form.credit input[type="submit"]:hover {
  background: #b43d3e;
}
form.credit label {
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
/*form.credit #cvv {
  width: 50px;
}
form.credit #month,
form.credit #year {
  width: 35px;
}
form.credit #name {
  width: 240px;
}
form.credit #number {
  width: 240px;
}*/
.block.credit {
  display: block;
  margin: 0.5rem 0;
}
.card_credit {
  background: #36aade;
  background-image: url("../images/bg_credit_card.png");
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  color: #f0f0f0;
  font-weight: 600;
  height: 220px;
  position: absolute;
  width: 340px;
}
.back .card_credit {
  background-image: url("../images/bg_credit_card_back.png");
}
.card__expiration {
  font-size: 1.25rem;
  left: 14.5rem;
  position: absolute;
  top: 8.5rem;
}
.card__expiration .card__month {
  display: inline;
}
.card__expiration .card__year {
  display: inline;
}
.card__little-letter {
  font-size: 0.75rem;
  font-weight: 400;
  left: 12rem;
  position: absolute;
  text-align: center;
  top: 8.25rem;
  width: 30px;
}
.card__little-number {
  font-size: 0.75rem;
  font-weight: 400;
  left: 1.5rem;
  position: absolute;
  top: 7.375rem;
}
.card__name {
  font-size: 1.5rem;
  left: 1.5rem;
  letter-spacing: 2.5px;
  position: absolute;
  text-transform: uppercase;
  top: 10.5rem;
}
.card__number {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  position: absolute;
  left: 1.5rem;
  top: 5.75rem;
}
.card__sim {
  background: #ffce3f;
  background-image: url("../images/sim.png");
  background-size: 100% 100%;
  border-radius: 0.5rem;
  height: 3.25rem;
  left: 1.5rem;
  position: absolute;
  top: 2rem;
  width: 3.75rem;
}
.card__type {
  background: #d6d6d6;
  border-radius: 0.375rem;
  height: 46px;
  left: 14.625rem;
  position: absolute;
  top: 2.25rem;
  width: 73px;
}
.card__type #card__image {
  border-radius: 0.375rem;
  height: 46px;
  width: 73px;
}
.card__black {
  background: rgba(0, 0, 0, 0.2);
  height: 3rem;
  position: absolute;
  top: 2rem;
  width: 100%;
}
.card__cvv {
  background: #d7e7f0;
  color: #404040;
  height: 2rem;
  left: 16rem;
  letter-spacing: 2.5px;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  top: 6.5rem;
  width: 3.5rem;
}
.card__skyblue {
  background: #d7e7f0;
  height: 2rem;
  left: 1.5rem;
  position: absolute;
  top: 6.5rem;
  width: 13rem;
}
.flip-container {
  margin: 0 auto;
  perspective: 1000;
  width: 340px;
}
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  height: 220px;
  width: 340px;
}
.flip-container .flipper,
.front .flipper,
.back .flipper {
  position: relative;
  transition: 0.75s;
  transform-style: preserve-3d;
}
.flip-container .flipper .back,
.front .flipper .back,
.back .flipper .back,
.flip-container .flipper .front,
.front .flipper .front,
.back .flipper .front {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}
.flip-container .flipper .back,
.front .flipper .back,
.back .flipper .back {
  transform: rotateY(180deg);
}
.flip-container .flipper .front,
.front .flipper .front,
.back .flipper .front {
  transform: rotateY(0);
  z-index: 2;
}
.div-rank-top {
  background-color: transparent;
  background-image: url("../images/bg-top-rank.jpg");
  background-size: cover;
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.box-contain-rank {
  margin-left: -15px;
  margin-right: -15px;
}
.box-rank {
  width: 720px;
  height: 730px;
  margin: 0 auto;
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.box-rank-number {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.contain-pyramid-1,
.contain-pyramid-2,
.contain-pyramid-3,
.contain-pyramid-4,
.contain-pyramid-5 {
  width: 380px;
  position: absolute;
  left: 0;
}
.contain-pyramid-1 {
  top: -50px;
}
.contain-pyramid-2 {
  top: -91px;
}
.contain-pyramid-3 {
  top: -112px;
}
.contain-pyramid-4 {
  top: -167px;
}
.contain-pyramid-5{
  top:-206px;
}
.img-pyramid-1,
.img-pyramid-2,
.img-pyramid-3,
.img-pyramid-4,
.img-pyramid-5 {
  max-width: 100%;
  position: relative;
  top: 0;
}
.box-rank-number.number-1 {
  z-index: 5;
  margin-bottom: 3rem;  
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-2 {
  z-index: 4;
  margin-bottom: 3rem;  
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-3 {
  z-index: 3;
  margin-bottom: 3rem;
  
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-4 {
  z-index: 2;
  margin-bottom: 3rem;
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-5 {
  z-index: 1;
  margin-bottom: 0.5rem;
  transition: all 400ms ease-in-out;
}


.box-rank-number.number-1 .contain-pyramid-1 {
  transition: top 1s ease-in-out;
}
.box-rank-number.number-1 .img-pyramid-1 {
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-1:hover {
  z-index: 6;
}
.box-rank-number.number-1:hover .img-pyramid-1 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari prior 9.0 */
  transform: scale(1.5);
  top: 100px;
}


.box-rank-number.number-2 .contain-pyramid-2 {
  transition: top 1s ease-in-out;
}
.box-rank-number.number-2 .img-pyramid-2 {
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-2:hover {
  z-index: 6;
}
.box-rank-number.number-2:hover .img-pyramid-2 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari prior 9.0 */
  transform: scale(1.5);
  top: 50px;
}



.box-rank-number.number-3 .contain-pyramid-3 {
  transition: top 1s ease-in-out;
}
.box-rank-number.number-3 .img-pyramid-3 {
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-3:hover {
  z-index: 6;
}
.box-rank-number.number-3:hover .img-pyramid-3 {
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari prior 9.0 */
  transform: scale(1.4);
  top: 25px;
}


.box-rank-number.number-4 .contain-pyramid-4 {
  transition: top 1s ease-in-out;
}
.box-rank-number.number-4 .img-pyramid-4 {
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-4:hover {
  z-index: 6;
}
.box-rank-number.number-4:hover .img-pyramid-4 {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari prior 9.0 */
  transform: scale(1.2);
  top: -50px;
}



.box-rank-number.number-5 .contain-pyramid-5 {
  transition: top 1s ease-in-out;
}
.box-rank-number.number-5 .img-pyramid-5 {
  transition: all 400ms ease-in-out;
}
.box-rank-number.number-5:hover {
  z-index: 6;
}
.box-rank-number.number-5:hover .img-pyramid-5 {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari prior 9.0 */
  transform: scale(1.2);
  top: -100px;
}
.card-user-rank {
  width: 260px;
  background-color: #e7eaed;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: left;
  padding-left: 50px;
  position: relative;
  z-index: 10!important;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.text-name-card-user-rank {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.15rem;
  color: #0f2646;
}
.text-distance-card-user-rank {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  color: #0f2646;
}
.card-user-rank .card-user-img-profile {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -16px;
  left: -50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-user-img-profile-contain {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-user-rank-img {
  border-radius: 50%;
  width: 55px;
  margin-top: 14px;
  margin-left: 1px;
}
.card-user-rank.number-1 .card-user-img-profile {
  background-image: url("../images/pyramid/user-bg-1.png");
}
.card-user-rank.number-2 .card-user-img-profile {
  background-image: url("../images/pyramid/user-bg-2.png");
}
.card-user-rank.number-3 .card-user-img-profile {
  background-image: url("../images/pyramid/user-bg-3.png");
}
.card-user-rank.number-4 .card-user-img-profile,
.card-user-rank.number-5 .card-user-img-profile {
  background-image: url("../images/pyramid/user-bg-4-5.png");
}
.table-rank-responsive {
  background-color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
}
.table-rank {
  width: 100%;
}
.table-rank-num {
  width: 50px;
}
.table-rank thead tr th {
  text-align: center;
  font-size: 1rem;
  color: #148ec1;
  line-height: 1rem;
  padding-bottom: 1rem;
}
.table-rank thead tr th span.sup-th {
  font-size: 0.8rem;
  color: #000000;
  line-height: 0rem;
}
.table-rank-profile {
  border-radius: 50%;
  width: 50px;
}
.table-rank tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cde5f0;
}
@media (max-width: 375px) {
  .logo-nav {
    height: 75px;
  }
}
@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .bg-register {
    padding-top: 20vmin;
  }
  .bg-virsualrun {
    padding-top: 35vmin;
  }
  .view-index {
    margin-top: 13vmin;
  }
  .text-money-donate {
    font-size: 30px;
  }
  .text-welcome-3 {
    font-size: 30px;
    width: 40px;
    height: 42px;
  }
  .text-welcome-3:last-of-type::before {
    font-size: 18px;
  }
  .bg-project-donate-detail {
    padding-top: 30vmin;
  }
}
@media (min-width: 768px) {
  .table-my-rank thead tr th,
  .table-my-rank tbody tr td {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-register {
    padding-top: 15vmin;
  }
  .rank_num {
    height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
  }
  .rank_num_1 {
    background-image: url("../images/stadi1.png");
  }
  .rank_num_2 {
    background-image: url("../images/stadi2.png");
  }
  .rank_num_3 {
    background-image: url("../images/stadi3.png");
  }
  .contain-img-rank {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .contain-img-rank .img-rank {
    width: 80%;
    border-radius: 50%;
    cursor: pointer;
  }
  .contain-img-rank .img-medal {
    position: absolute;
    width: 40%;
    left: 0;
    bottom: 0;
  }
  .rank_num_1 .contain-img-rank .img-rank {
    border: 5px solid #fbc815;
  }
  .rank_num_2 .contain-img-rank {
    padding-top: 35%;
  }
  .rank_num_2 .contain-img-rank .img-rank {
    border: 5px solid #afafaf;
  }
  .rank_num_3 .contain-img-rank {
    padding-top: 53%;
  }
  .rank_num_3 .contain-img-rank .img-rank {
    border: 5px solid #ff9900f1;
  }
  .contain-detail-rank {
    margin-top: 0.5rem;
  }
  .contain-detail-rank p {
    margin-bottom: 0;
    color: #ffffff;
  }
  .contain-detail-rank .rank-text {
    font-weight: 700;
    font-size: 18px;
  }
  .my-medal {
    width: 50px;
  }
  .text-money-donate {
    font-size: 30px;
  }
  .text-welcome-3 {
    font-size: 30px;
    width: 40px;
    height: 52px;
  }
  .text-welcome-3:last-of-type::before {
    font-size: 18px;
  }
  .bg-project-donate-detail {
    padding-top: 23vmin;
  }
}

@media (max-width: 991px) {
  .over-img-logo .img-logo-banner {
    margin: 0 auto;
    max-width: 90%;
    width: auto;
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) {
  .rank_num {
    height: 300px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
  }
  .rank_num_1 {
    background-image: url("../images/stadi1.png");
  }
  .rank_num_2 {
    background-image: url("../images/stadi2.png");
  }
  .rank_num_3 {
    background-image: url("../images/stadi3.png");
  }
  .contain-img-rank {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .contain-img-rank .img-rank {
    width: 80%;
    border-radius: 50%;
    cursor: pointer;
  }
  .contain-img-rank .img-medal {
    position: absolute;
    width: 40%;
    left: 0;
    bottom: 0;
  }
  .rank_num_1 .contain-img-rank .img-rank {
    border: 5px solid #fbc815;
  }
  .rank_num_2 .contain-img-rank {
    padding-top: 35%;
  }
  .rank_num_2 .contain-img-rank .img-rank {
    border: 5px solid #afafaf;
  }
  .rank_num_3 .contain-img-rank {
    padding-top: 53%;
  }
  .rank_num_3 .contain-img-rank .img-rank {
    border: 5px solid #ff9900f1;
  }
  .contain-detail-rank {
    margin-top: 0.5rem;
  }
  .contain-detail-rank p {
    margin-bottom: 0;
    color: #ffffff;
  }
  .contain-detail-rank .rank-text {
    font-weight: 700;
    font-size: 18px;
  }
  .my-medal {
    width: 50px;
  }
  .img-art-isan {
    width: 50vh;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
