.select-register {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
}

.select-register:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.picker__select--month,
.picker__select--year {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 16px;
}

.picker__select--year {
  width: 27%;
}

.md-form .form-control:disabled {
  background-color: #e9ecef;
}

.md-form .prefix.active,
.md-form textarea~label.active,
.md-form.md-outline input[type=date]:focus:not([readonly])+label,
.md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label,
.md-form.md-outline input[type=email]:focus:not([readonly])+label,
.md-form.md-outline input[type=number]:focus:not([readonly])+label,
.md-form.md-outline input[type=password]:focus:not([readonly])+label,
.md-form.md-outline input[type=search-md]:focus:not([readonly])+label,
.md-form.md-outline input[type=search]:focus:not([readonly])+label,
.md-form.md-outline input[type=tel]:focus:not([readonly])+label,
.md-form.md-outline input[type=text]:focus:not([readonly])+label,
.md-form.md-outline input[type=time]:focus:not([readonly])+label,
.md-form.md-outline input[type=url]:focus:not([readonly])+label,
.md-form.md-outline textarea:focus:not([readonly])+label {
  color: #757575;
}