.navbar.navbar-dark .breadcrumb .nav-item > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
  font-size: 1rem;
  background-color: transparent;
  color: #060e21;
  font-weight: 400;
}

.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  background-color: rgba(180, 61, 62, 0.9);
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.navbar.navbar-dark .breadcrumb .nav-item:hover > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item:hover > .nav-link {
  background-color: rgba(180, 61, 62, 0.9);
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pagination .page-item.active .page-link,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: none;
  color: #ffffff !important;
  background-color: #b43d3e !important;
}

.pagination .page-item.active:hover .page-link,
.pagination .page-item:hover .page-link {
  background-color: #060e21;
  color: #ffffff;
}

.page-footer,
.top-nav-collapse {
  background-color: #060e21;
}
.navbar.navbar-dark.top-nav-collapse .navbar-nav .nav-item > .nav-link {
  color: #fff;
}
.nav-tabs.nav-profile .nav-item.show .nav-link,
.nav-tabs.nav-profile .nav-link.active {
  background-color: #b43d3e;
  color: #ffffff;
  border-color: #b43d3e #b43d3e #b43d3e;
}

.nav-tabs.nav-profile .nav-link:focus,
.nav-tabs.nav-profile .nav-link:hover {
  background-color: #b43d3e;
  color: #ffffff;
}

.nav-tabs.nav-profile a.nav-link {
  color: #ffffff;
  font-weight: 400;
  background-color: #7e7e7e;
}

@media (max-width: 575px) {
  .navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #060e21;
  }
  .navbar.navbar-dark .navbar-nav .nav-item > .nav-link {
    color: #ffffff;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #060e21 !important;
  }
}
